<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IdeaMartApiCallbase" value="https://ideabiz.lk/apicall/" />
    <add key="IdeaMartApiSmsSubscription" value="subscription/v3/subscribe" />
    <add key="IdeaMartApiSmsUnSubscription" value="subscription/v3/unsubscribe" />
    <add key="IdeaMartTokenEndPoint" value="token" />
    <add key="IdeaMartConsumerKey" value="yApdq51fS7dCbiSpfJX_NyjFnhka" />
    <add key="IdeaMartConsumerSecret" value="fWfpBVjJuXaEzwYxtIdHZQeUh2ga" />
    <add key="IdeaMartUserName" value="waylapp" />
    <add key="IdeaMartPassword" value="Hammer@123" />
    <add key="IdearMartSenderName" value="Wayl" />
    <add key="IdearMartSenderAddress" value="tel:87711" />
    <add key="IdeaMartSmsEndPoint" value="smsmessaging/v3/outbound/{port}/requests" />
    <add key="IdeaMartPinSubscriptionEndPoint" value="pin/subscription/v1/subscribe"/>
    <add key="IdeaMartPinValidateEndPoint" value="pin/subscription/v1/submitPin"/>
    <add key="IdeaMartPaymentRef" value="WAYL Payment" />
    <add key="IdeaMartPaymentEndPoint" value="pin/payment/v1/charge" />
    <add key="IdeaMartPinSubmitEndPoint" value="pin/payment/v1/submitPin" />
    
    <!--<add key="IdeaMartApiSmsSubscription" value="subscription/v3/subscribe" />
    <add key="IdeaMartApiSmsUnSubscription" value="subscription/v3/unsubscribe" />
    <add key="IdeaMartTokenEndPoint" value="token" />
    <add key="IdeaMartConsumerKey" value="dsByLrtt4_4Pqp61_KNyDtYWCfUa" />
    <add key="IdeaMartConsumerSecret" value="Cs10hWddhTOOCjQW4RUWR8f_Wcoa" />
    <add key="IdeaMartUserName" value="udiolk" />
    <add key="IdeaMartPassword" value="Udiolk1122" />
    <add key="IdearMartSenderName" value="UDIO" />
    <add key="IdearMartSenderAddress" value="tel:87711" />
    <add key="IdeaMartSmsEndPoint" value="smsmessaging/v3/outbound/{port}/requests" />
    <add key="IdeaMartPinSubscriptionEndPoint" value="pin/subscription/v1/subscribe"/>
    <add key="IdeaMartPinValidateEndPoint" value="pin/subscription/v1/submitPin"/>-->
  </appSettings>
</configuration>